* {
  box-sizing: border-box;
  color: aqua;
}

body {
  margin: 0px;
  background-color: rgb(21, 91, 109);
}
.navbar {
  background: url(../images/navbackground.jpg);
  background-size: cover;
 }

 #heroimage {
   width: 100%;
   height: 1000px;
 }

 .videofix {
   z-index: -1;
 }

 @media (min-width: 1181px) {
   .picfix {
     width: 500px;
   }
   .carouselfix {
     width: 25%;
   }
 }